<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" xmlns="">
  <h1>
    {{title}}
  </h1>
  <img width="300" src="https://media0.giphy.com/media/5Y2bU7FqLOuzK/giphy.gif">
</div>
<div>
  <!-- TODO implement css style sheet -->
  <div *ngFor="let i of giftLists">
    <img src="{{i.url}}" alt="{{i.name}}-image" style="width:200px;height:180px;">
    <p>{{i.name}}</p>
    <p>{{i.description}}</p>
    <p>{{i.price}}</p>
  </div>

</div>
  <div>
  <h4>Environment: TEST</h4>
  <p>Integration (rest client and db) status:</p>
  <ul>
    <li>Rest Client Status: TODO</li>
    <li>Database Status: TODO</li>
    <li>Integrations Status: TODO</li>
  </ul>
</div>
<br/>
<p>Here are some angular docs: </p>
<ul>
  <li><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></li>
  <li><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></li>
  <li><a target="_blank" href="https://blog.angular.io//">Angular blog</a></li>
</ul>

